<%= action_title 'Cadastre seu Chá de Bebê'%>

<ul>
<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
</ul>

<%= form_for @user do |f| %>
  <%= f.label :father_name %>
  <%= f.text_field :father_name %>
  <br>
  <%= f.label :mother_name %>
  <%= f.text_field :mother_name %>
  <br>
  <%= f.label :child_name %>
  <%= f.text_field :child_name %>
  <br>
  <%= f.label :event_date %>
  <%= f.date_field :event_date %>
  <br>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <br>
  <%= f.submit "Enviar" %>
<% end %>